<div class="dark-heresy chat roll impmal-test" data-actor-id="{{ownerId}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <div class="roll-card-background">
        <h1>{{localize "CONDITION.BLEEDING"}} - {{localize "EFFECTS.ON_TURN"}}</h1>
        
        <div class="sl-container {{#if isDead}}failure{{/if}}">
            <div class="roll-value-wrapper">
                <div class="roll-value">
                    {{rollResult}}
                </div>
            </div>
            <div class="target-value-wrapper">
                <div class="target-value">
                    90+
                </div>
            </div>
        </div>
        
        <p class="centered">
            <strong>
                {{#if isDead}}
                    {{localize "EFFECTS.YOU_DIED"}}
                {{else}}
                    {{localize "CHAT.SUCCESS"}}
                {{/if}}
            </strong>
        </p>
        
        <div class="test-details">
            <div class="tags">
                <div>{{localize "EFFECTS.BLEEDING_DEATH_CHANCE"}}</div>
            </div>
        </div>
    </div>
</div>
